@font-face {
  font-family: "HYWenHei 85W";
  font-style: normal;
  font-weight: normal;
  src:
    local("HYWenHei-85W"),
    url("../../src/fonts/zhcn.woff") format("woff");
}

#background-pic {
  background-image: url("../../src/bg-img/asdf.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

body {
  margin: 0;
  padding: 0;

  font-family: "HYWenHei 85W", Arial, sans-serif !important;

  background: #f2f2f2;
}

/* Loading animation */
/* copied from portfolio site ehe */

.loading {
  border: 8px solid #22283e;
  border-top: 8px solid #00000000; 
  border-radius: 50%;

  width: 60px;
  height: 60px;

  animation: spin 1s linear infinite;

  position: fixed;
  top: 45%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Reusable classes */

.hidden {
  display: none;
}

.flex {
  display: flex;
}

/* Container for the entire chatbox */
.chat-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 600px;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .chat-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
  }
}

/* Header styling */
.chat-header {
  background: #22283e;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.chat-header:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Messages area uses flex-grow */

/* 
  notes for background - linear gradient: 
  - need to blur the right part (the 100% part)
  - last gradient line (100%) should NOT be absolute zero
*/
.chat-messages {
  flex: 1;
  padding: 2px;
  overflow-y: scroll;
  background: linear-gradient(
    90deg,
    rgba(34, 40, 62, 1) 70%,
    rgba(34, 40, 62, 0.47) 85%,
    rgba(34, 40, 62, 0) 100%
  );
}

/* scroll bar for chat */

.chat-messages::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.chat-messages::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Each message container */
.chat-message {
  margin: 10px 0;
  display: flex;
  flex-direction: column;

  font-size: 15px;
}

/* Align sender messages to the right */
.chat-message.sender {
  align-items: flex-end;
}

/* Chat bubble styling for both sender and receiver */
.chat-bubble {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 20px;
  position: relative;
}

/* Specific style for sender bubble */
.chat-message.sender .chat-bubble {
  background: #d1c9c1;
  border-top-right-radius: 0;
  user-select: none;
}

/* Specific style for receiver bubble */
.chat-message.receiver .chat-bubble {
  background: #3d4655;
  color: white;
  border: none;
  border-top-left-radius: 0;
  /* user-select: none; */
}

/* Image of chat sender/receiver */
/* TBA : add image */

.chat-image {
	min-height: 45px;
	max-height: 45px;

	min-width: 45px;
	max-width: 45px;

	border: 2px solid red;
	border-radius: 50%;

	display: flex;
}

/* Sender */
.chat-image.sender {
	align-items: flex-end;
	align-self: flex-end;
}

/* Receiver */
.chat-image.receiver {
	align-items: flex-start;
	align-self: flex-start;
}

/* for hiding input menu - reason: maximization of chat */

#toggleInputMenu {
  color: white;
  position: absolute;
  bottom: 6px;
  left: 6px;
  cursor: pointer;
  border: 0;
  background-color: none;
}

#chatInputLower.chat-input {
  border: 0;
  padding: 8px;
}

/* Input area styling */
.chat-input {
  padding: 12px 5px 0;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  background: #22283e;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  border-radius: 20px;
  outline: none;

  font-family: "HYWenHei 85W", Arial, sans-serif !important;
}

.chat-input button {
  margin: 0 10px;
  padding: 10px 15px;
  border: none;
  background: #fff;
  color: #3d4655;
  border-radius: 20px;
  cursor: pointer;

  font-family: "HYWenHei 85W", Arial, sans-serif !important;
}

.chat-input button:disabled {
  color: #ccc;
  background: #666;
  cursor: not-allowed;

}

.chat-input #settings {
  position: absolute;
  right: 10px;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/* for switch */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* for floating window */

/* Modal overlay covers entire viewport */
.floating-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Floating window content */
.floating-content {
  display: flex;
  flex-direction: column;

  background: #22283e;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  min-width: 70%;
  max-width: 80%; /* Responsive width */
  max-height: 90%; /* Responsive height */
  position: relative;
  overflow-y: auto; /* Scroll if content exceeds window size */
}

/* Close button styling */
.close-button {
  display: flex;
  flex-direction: row-reverse;

  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-size: 28px;
  color: #bbb;
  cursor: pointer;
}

.close-button:hover {
  color: white;
}

.chat-input .charlist input {
  font-size: 17px;
  min-height: fit-content;
}

#receiver-list,
#sender-list {
  height: 150px; 
  overflow-y: scroll;
}

/* for tabs, sending and receiving */

.tab-buttons {
  display: flex;
}

.tab-button {
  flex: 1;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  color: #fff;

  transition: background-color 0.3s ease, color 0.3s ease;

  border-bottom: 3px solid #2196f3;
}

/* need to fix color */
.tab-button:hover {
  background-color: #ddd;
  color: black;
}

.tab-button.active {
  background-color: #fff;
  color: #22283e;

  border: 3px solid #2196f3;
  border-bottom: none;
}

.tab-content-container {
  padding: 20px;

  border: 3px solid #2196f3;
  border-top: none;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}